.heading{
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
    display: block;
}

.flex-container{
    display: flex;
}
/* Released Movies Section */
.left{
    width: 76%;
    margin: 16px;
}
/* Filter Section */
.right{
    width: 24%;
    margin: 16px;
}
img:hover{
    cursor: pointer;
}
/* for Card label */
.css-1qvr50w-MuiTypography-root {
    font-size: 20px !important;
}
/* Card content */
.css-46bh2p-MuiCardContent-root {
    padding: 25px !important;
}
/* Apply button */
.css-1xxzv2w-MuiButtonBase-root-MuiButton-root {
    background-color: #3452B4 !important;
    margin-top: 25px !important;
}